<div class="header">
    
    <div class="header_gauche">
        <div class="header_gauche_image">
            <img class="header_gauche_image_logo" [src]="logo" alt="logo teach French And Arabic">
        </div>
        <div class="header_gauche_titre" >
            {{title}}
        </div>
    </div>
    <div class="header_milieu">
        <app-onglets [onglets]="onglets"></app-onglets>
    </div>
    <div class="header_droite">
        <div class="header_droite_container">        
            <img class="header_droite_desktop" src="./../../assets/images/svg_connection_v3.svg" alt="image login">
        </div>

        <div  [ngClass]="{'header_droite_mobile' :true, 'is_clicked': menuBurgerIsClicked}" (click)="clickHeader()">
            <div class="container_menu_burger">
                <span class="bar_haut"></span>
                <div class="bar_milieu_container">
                    <div class="bar_milieu_container_gauche"></div>
                    <div class="bar_milieu_container_milieu"></div>
                    <div class="bar_milieu_container_droite"></div>
                </div>
                <span class="bar_bas"></span>
            </div>
        </div>
    </div>
    <app-onglets-mobile [onglets] = "ongletsMobile" [isClicked] = "menuBurgerIsClicked"></app-onglets-mobile>

</div>