<div class="container">
    <div class="container_entreprise">
        <p>Pierre Noble © 2022</p>
    </div>
    <div class="container_reseau">
        <div class="container_reseau_email">
            <img class="image" src="./../../assets/images/icon_email.png">
            <p>email@gmail.com</p>
        </div>
        <div class="container_reseau_whatsapp">
            <img class="image" src="./../../assets/images/icon_whatsapp.png">
            <p>04 02 02 03 56</p>
        </div>
    </div>

</div>


