<div class="landing">
    <div class="block_image">
        <div class="block_image_background1">
            <img class="block_image_background_image" [src]="imageLandingPage1" alt="">
        </div>
        <div class="block_image_background2">
            <img class="block_image_background_image" [src]="imageLandingPage2" alt="">
        </div>
        <div class="container_bulle">
            <img *ngFor="let ech of nbImageEchantillon"  class="block_image_echantillon" [src]="ech.srcLink" alt="">
        </div>
        
 
    </div>
    <div class="block_content">
        <div class="block_content_block_title"> Élégance en Marbre</div>
        <div class="block_content_description">
            Découvrez l'exclusivité de "La Pierre Noble" — maîtres artisans du marbre. Créez des cuisines raffinées, des escaliers majestueux, et des dallages exceptionnels avec notre expertise inégalée. Chaque pièce est sculptée avec précision, alliant beauté naturelle et fonctionnalité supérieure. Transformez votre espace avec l'essence intemporelle de nos créations en marbre. Bienvenue dans l'univers de l'élégance, bienvenue chez "La Pierre Noble".
        </div>
        <div class="block_content_button"> contactez-nous </div>
    </div>
    <!-- <img class="header_droite_desktop" src="./../../assets/images/svg_marbre.svg" alt="image login"> -->

</div>
