<div class="header">
    
    <div class="header_gauche">
        <div class="header_gauche_image">
            <img class="header_gauche_image_logo" src="./../../assets/images/logo_teachFrenchAndArabic.png" alt="logo teach French And Arabic">
        </div>
        <div class="header_gauche_titre">
            Teach French & Arabic
        </div>
    </div>
    <div class="header_milieu">
        <app-onglets [onglets]="onglets"></app-onglets>
    </div>
    <div class="header_droite">
        <img class="header_droite_desktop" src="./../../assets/images/svg_connection_v3.svg" alt="image login">
    </div>

</div>