.container{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--main-color);
}

@media screen and (max-width: 500px) {
    .container {
      display: none;
    }
  }