<div class="container">
    <div class="container_top"></div>
    <div class="container_bottom"></div>
    <div class="container_review">
        <div *ngFor="let reviewByEtat of reviewsByEtats; 
        let indexOfelement=index;" 
                    [ngClass]="{'container_review_block':true,
                                'container_review--too-left':reviewByEtat[0],
                                'container_review--left': reviewByEtat[1],
                                'container_review--main': reviewByEtat[2],
                                'container_review--right': reviewByEtat[3],
                                'container_review--too-right': reviewByEtat[4]}">
        {{reviews[indexOfelement].username}}
        </div>
        
<!--         
        
        <div [ngClass]="container_review_block container_review--left"></div>
        <div [ngClass]="container_review_block container_review--main"></div>
        <div [ngClass]="container_review_block container_review--right"></div>
        <div [ngClass]="container_review_block container_review--too-right"></div> -->

    </div>
    <img src="../../assets/images/fleche-droite.png" alt="" (click)="clickFlecheDroite()" [ngClass]="{'container_fleche--droite':true, 'hidden':hiddenFlecheDroite}">
    <img src="../../assets/images/fleche-droite.png" alt="" (click)="clickFlecheGauche()"[ngClass]="{'container_fleche--gauche':true, 'hidden':hiddenFlecheGauche}">
</div>