<div class="main">
    <div class="main_contact">
        <div class="main_contact_title">Contact</div>
        <div class="main_contact_img">
            <img class="main_contact_img_content" src="./../../assets/images/contact_image.png" alt="">
        </div>
    </div>
    <div class="main_information_enveloppe">
        <div class="main_information_enveloppe_block">
            <div class="main_information_enveloppe_block_bureau">
                Retrouvez-nous dans nos bureaux du lundi au vendredi de 8h à 19h30 et le samedi sur rendez-vous
            </div>
            <div class="main_information_enveloppe_block_adresse">
                315 B Rue du soleil, 26750 Saint-Paul-lès-Romans
                07 67 33 79 40
            </div>
        </div>
    </div>
    <div class="main_formulaire">
        <div class="main_formulaire_texte">
            <div class="main_formulaire_texte_p1">
                Vous souhaitez collaborer avec nous, poser une question précise ou simplement faire une demande prix ?
            </div>
            <div class="main_formulaire_texte_p2">
                N'hésitez pas à nous contacter en cliquant sur le bouton suivant :            
            </div> 
            <div class="main_formulaire_texte_email">
                <div class="main_formulaire_texte_email_bouton">
                    <a href="mailto:lapierrenoble@gmail.com?subject=Demande%20d%27information%20LPN%20%5BNom%3BPr%C3%A9nom%5D&body=Bonjour%2C%20je%20souhaite%20avoir%20des%20renseignements%20%C3%A0%20propos%20de%20vos%20services%2C%20plus%20pr%C3%A9cis%C3%A9ment%20de%20%5BVotre%20demande%5D.%20Vous%20pouvez%20me%20contacter%20au%20XX%20XX%20XX%20XX%20XX%2E">Envoyer un e-mail</a>
                </div>
            </div>    
            
        </div>
        <div class="main_formulaire_block"></div>
    </div>    
</div>
